@import '../../scss/mixins';
@import '../../scss/variables';

.activity {

    width: 100%;
    height: 100%;

    background-color: $white;

    .cover {

        height: 45%;

        // background-size: cover;
        background-color: aquamarine;

        .black-gradient {

            height: 40%;

            background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);
            
            padding: rem(10px);

            .game-type {

                display: flex;
                align-items: center;
                color: $white;

                .game-picto {

                    position: relative;

                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    width: rem(45px);
                    height: 100%;

                    i {
                        
                        position: absolute;
                        
                        color: inherit;

                    }

                    img {

                        width: auto;
                        height: auto;
                        max-width: 100%;
                        margin-top: 10%;

                    }
    
                }

                h2 {
                    
                    font-size: rem(16px);
                    font-weight: 400;
                    color: inherit;

                }

            }

        }

    }

    .text {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 55%;
        
        padding: rem(16px);

        p {

            height: 65%;

            font-size: rem(12px);
            line-height: 1.3;
                                      
        }

        .btn {

            font-size: rem(12px);

        }
            
    }

}
