<div class="activity active" [ngClass]="{active: isActive}">
  <div class="cover" [ngClass]="activity.type">
      <div class="black-gradient">
            <div class="game-type">
                <div class="game-picto">
                    <i class="icon-gametype-{{ activity.type }}" ></i>
                    <img src="/assets/img/activities/hexa-hobbpink-shadow.svg" alt="Picto {{ activity.title }}">        
                </div>
                <h2>{{ activity.title }}</h2>
            </div>            
      </div>
  </div>
  <div class="text">
      <p>
          {{ activity.description }}
      </p>
      <a href="#" class="btn btn-medium btn-hobblue">
          Je souhaite faire une partie
      </a>
  </div>
</div>