@import '../../scss/mixins';
@import '../../scss/variables';

.activity {

    width: 100%;
    height: 100%;

    background-color: $white;

    .cover {

        height: 45%;

        transition: height 0.3s;

        @media (max-height: 710px) {
                           
            height: 40%;
            
        }

        @media (min-height: 850px) {
                           
            &.active {

                height: 60%;
    
            }
            
        }

        background-size: cover;

        &.ambiance {
            background-image: url("/assets/img/activities/pict-gametype-ambiance.jpg");
        }

        &.plateau {
            background-image: url("/assets/img/activities/pict-gametype-plateau.jpg");
        }

        &.adresse {
            background-image: url("/assets/img/activities/pict-gametype-adresse.jpg");
        }

        &.role {
            background-image: url("/assets/img/activities/pict-gametype-role.jpg");
        }
        
        &.cartes {
            background-image: url("/assets/img/activities/pict-gametype-cartes.jpg");
        }

        &.reflexion {
            background-image: url("/assets/img/activities/pict-gametype-reflexion.jpg");
        }

        &.des {
            background-image: url("/assets/img/activities/pict-gametype-des.jpg");
        }
        
        &.classique {
            background-image: url("/assets/img/activities/pict-gametype-classique.jpg");
        }

        &.enquete {
            background-image: url("/assets/img/activities/pict-gametype-enquete.jpg");
        }

        &.figurines {
            background-image: url("/assets/img/activities/pict-gametype-figurines.jpg");
        }
        
        &.rapidite {
            background-image: url("/assets/img/activities/pict-gametype-rapidite.jpg");
        }

        &.enfant {
            background-image: url("/assets/img/activities/pict-gametype-enfant.jpg");
        }

        .black-gradient {

            height: 40%;

            background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);
            
            padding: rem(11px 16px);

            .game-type {

                display: flex;
                align-items: center;
                color: $white;

                .game-picto {

                    position: relative;

                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    width: rem(35px);
                    height: rem(35px);

                    margin-right: rem(5px);

                    i {
                        
                        position: absolute;
                        
                        font-size: rem(15.5px);
                        color: inherit;

                        &.icon-gametype-ambiance {

                            font-size: rem(14.3px);

                        }

                        &.icon-gametype-plateau {

                            font-size: rem(14px);

                        }

                        &.icon-gametype-cartes {

                            font-size: rem(13.5px);

                        }

                        &.icon-gametype-des {

                            font-size: rem(13.5px);

                        }

                        &.icon-gametype-enquete {

                            font-size: rem(14.5px);

                        }

                    }

                    img {

                        width: auto;
                        height: auto;
                        max-width: 100%;
                        margin-top: rem(3px);

                    }
    
                }

                h2 {

                    text-align: left;
                    font-size: rem(18px);
                    font-weight: 500;
                    color: inherit;

                }

            }

        }

    }

    .text {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 55%;

        transition: height 0.3s;

        @media (max-height: 710px) {
                           
            height: 60%;
            
        }

        @media (min-height: 850px) {
                           
            &.active {

                height: 40%;
    
            }
        
        }

        padding: rem(15px 21px 18px 21px);

        p {

            height: 65%;

            font-size: rem(12.5px);
            text-align: left;
            line-height: 1.35;
                                      
        }

        .btn {

            font-size: rem(12px);

        }
            
    }

}
