<div class="activity active" [ngClass]="{active: isActive}">
  <div class="cover" [ngClass]="activity.type">
      <div class="black-gradient">
          <div class="game-type">
              <img [src]="getBackgroundUrl(activity)" class="gametype-{{ activity.type }}" alt="Picto {{ activity.title }}">
              <h2>{{ activity.title }}</h2>
          </div>            
      </div>
  </div>
  <div class="text">
      <p>
          {{ activity.description }}
      </p>
      <a href="#" class="btn btn-medium btn-hobblue">
          Je souhaite faire une partie
      </a>
  </div>
</div>