@import '../../scss/mixins';
@import '../../scss/variables';

section.intro {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    min-height: 480px;

    color: $white;
    @include shadow('text', rgba(14, 11, 56,0.10), rgba(14, 11, 56,0.10));

    background-image: url('/assets/img/intro/bg-gradient.jpg');
    background-position: top center;
    background-size: cover;

    padding: rem(40px 30px 0 30px);

    @media (min-width: $xs-breakpoint) {
                
        min-height: 640px;

        padding: rem(40px 40px 0 40px);

    }    

    @media (min-width: $md-breakpoint) {
                
        min-height: 750px;

    }    

    @media (min-aspect-ratio: 4/3) and (max-height: 470px) and (max-width: 850px) {
                
        min-height: 320px;

    }
    
    .wrapper {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; 
      
        width: 100%;
        max-width: 350px;
        height: 100%;

        @media (min-width: $lg-breakpoint) {
                
            max-width: 465px;
    
        } 

        @media (min-aspect-ratio: 4/3) and (max-height: 470px) and (max-width: 850px) {
                
            max-width: 550px;
    
        }
    
        .logo {

            display: flex;
            justify-content: center;
            align-items: center;  
            
            width: 60%;
            max-width: rem(230px);

            margin-bottom: rem(-18px);

            @media (min-width: $xs-breakpoint) {
                
                width: 70%;
        
            }    
        
            svg {

                width: 100%;
                max-width: 100%;
                max-height: 23%;

                transition: all 0.4s;

                .svg-logo-mark path, .svg-logo-bees path {

                    transition: all 0.3s;

                }

                &.switchtop {

                    position: fixed;
                    top: rem(-63px);
                    z-index: 100;

                    width: rem(145px);

                    .svg-logo-mark path {

                        fill: #151515;

                    }

                      .svg-logo-bees path {

                        fill: #151515;

                    }

                }

                @media (min-aspect-ratio: 4/3) and (max-height: 470px) and (max-width: 850px) {
                    
                    max-height: 38%;

                    position: fixed;
                    top: rem(-63px);
                    z-index: 100;

                    width: rem(145px);

                    .svg-logo-mark path {

                        fill: #151515;

                    }

                      .svg-logo-bees path {

                        fill: #151515;

                    }
        
                }   
                     
            }

        } 

        .text {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center; 
             
            height: 34%;
            min-height: rem(160px);
            max-height: rem(235px);

            @media (min-width: $lg-breakpoint) {
                
                max-height: rem(215px);
        
            }

            @media (min-aspect-ratio: 4/3) and (max-height: 320px) and (max-width: 850px) {
                
                min-height: rem(130px);
        
            }        
         
            h1 {

                font-size: rem(25px);
                font-weight: 500;
                line-height: 1.05;

                @media (min-width: $xs-breakpoint) {

                    font-size: rem(30px);
                    line-height: 1.16;

                } 

                @media (min-width: $lg-breakpoint) {
                
                    font-size: rem(34.5px);
            
                }
                
                @media (min-aspect-ratio: 4/3) and (max-height: 320px) and (max-width: 850px) {
                
                    font-size: rem(23px);
            
                }        

            }

            h2 {

                font-size: rem(15px);
                font-weight: 300;
                line-height: 1.4;

                @media (min-width: $xs-breakpoint) {
                    
                    font-size: rem(19px);
                    line-height: 1.45;

                }

                @media (min-aspect-ratio: 4/3) and (max-height: 320px) and (max-width: 850px) {
                
                    font-size: rem(18px);
            
                }        
                
            }

            .btn-outline-white {
                    
                border-radius: rem(15px);
                border: 1px solid $white;

                font-size: rem(11px);
                text-transform: uppercase;

                @include shadow('xs-outline', rgba(14, 11, 56,0.10), rgba(14, 11, 56,0.10));
                
                padding: rem(5px 16px);
                margin-top: rem(8px);

                transition: all 0.3;

                @media (min-width: $xs-breakpoint) {
                
                    font-size: rem(13px);
                    padding: rem(7px 19px);

                } 

            }

        }

        .sign {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            
            width: 100%;
            max-width: rem(360px);
            height: 14%;
            min-height: rem(85px);
            max-height: rem(92px);

            @media (min-aspect-ratio: 4/3) and (max-height: 470px) and (max-width: 850px) {
                
                max-width: 98%;
        
            }        

            .btn {

                text-shadow: none;
                
            }   
            
            p {
    
                font-size: 14px;
                font-weight: 300;
                line-height: 1.4;
                text-align: center;

                @media (min-width: $xs-breakpoint) {
                
                    font-size: 15px;
            
                } 

                a {
    
                    font-size: 13px;
                    font-weight: 500;
                    color: inherit;
                    text-transform: uppercase;
    
                    margin-left: rem(8px);

                    @media (min-width: $xs-breakpoint) {
                
                        font-size: 15px;
                
                    } 
    
                }
                    
            }
    
        }    

    }    

}
