<section class="intro" id="intro">
  <main>
      <div class="logo">
          <img src="assets/img/intro/logo-hobbees.svg" alt="Logo Hobbees">
          <img class="top" src="assets/img/intro/logo-hobbees-top.svg" alt="Logo Hobbees">
      </div>
      <div class="text">
          <h1>
              Vivez de nouvelles expériences ludiques
          </h1>
          <h2>
              Parce que le fun est source
              de bons souvenirs et que
              les meilleurs souvenirs
              sont ceux que l'on partage
          </h2>
      </div>
  </main>
  <footer class="sign">
      <a routerLink="/inscription" class="btn btn-white">
          Inscription Gratuite
      </a>
      <div class="sign-white">
         <p>Vous avez déjà un compte ? <a routerLink="/connexion">Connexion</a></p>
      </div>        
  </footer>
</section>