<footer>
  <div class="logo">
      <img src="assets/img/intro/logo-hobbees.svg" alt="Logo Hobbees">
  </div>    
  <div class="links">
      <div class="internal">
          <a href="#">À propos</a>
          <a href="#">FAQ</a>  
          <a href="#">Nous contacter</a> 
      </div>
      <div class="social-networks">
          <p>Suivez-nous</p>
          <div class="sn-logos">
              <a href="#"><img src="assets/img/footer/i-socialnetwork-facebook.svg" class="logo-facebook" alt="Logo Facebook"></a>
              <a href="#"><img src="assets/img/footer/i-socialnetwork-twitter.svg" class="logo-twitter"alt="Logo Twitter"></a>
              <a href="#"><img src="assets/img/footer/i-socialnetwork-instagram.svg" class="logo-instagram" alt="Logo Instagram"></a>
              <a href="#"><img src="assets/img/footer/i-socialnetwork-youtube.svg" class="logo-youtube" alt="Logo Youtube"></a>
          </div>
      </div>
      <div class="legal-notice">  
          <p>
              © Hobbees 2018
              &nbsp;-&nbsp; 
              <a href="#">Conditions&nbsp;d'utilisation</a>
              &nbsp;-&nbsp; 
              <a href="#">Mentions&nbsp;légales</a>
              &nbsp;-&nbsp; 
              <a href="#">Politique&nbsp;de&nbsp;respect&nbsp;de&nbsp;la&nbsp;vie&nbsp;privée</a>
          </p>
      </div>            
  </div>
</footer>