@import '../../scss/mixins';
@import '../../scss/variables';

:host {

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 46.5%;
    height: 28%;

    @media (min-aspect-ratio: 3/3) and (min-width: $sm-breakpoint) {
                
        width: 29%;
        height: 38%;
            
    }

    @media (min-aspect-ratio: 3/3) and (min-width: $lg-breakpoint) {
                
        width: 28%;
        height: 38%;
            
    }

    background-color: $white;
    @include shadow('input', rgba(14, 11, 56,0.10), rgba(14, 11, 56,0.10));

    .incentive {

        height: 100%;
        width: 100%;
        
        .hexa-grey {

            position: absolute;
            top: -1rem;
            left: calc(50% - 1rem);
        
            display: flex;
            justify-content: center;
            align-items: center;
        
            width: 2rem;
            height: 2rem;

            font-size: rem(13px);

            background-image: url("/assets/img/incentives/hexa-grey.svg");
            background-size: 100% 100%;

            @media (min-width: $md-breakpoint) {
                
                top: -1.25rem;
                left: calc(50% - 1.25rem);

                font-size: rem(14px);

                width: 2.5rem;
                height: 2.5rem;
       
            }

        }

        .content {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            height: 100%;

            padding: rem(13% 7% 7% 7%);

            @media (min-width: $md-breakpoint) {
                
                padding: 12% 15% 5% 15%;
                    
            }

            @media (max-aspect-ratio: 3/3) and (min-width: $lg-breakpoint) {
                
                padding: 8% 20% 5% 20%;
                    
            }


            .picto-incentive {

                width: 100%;
                height: 55%;

                background-size: 100% 100%;

                margin-bottom:4%;

                @media (min-width: $sm-breakpoint) {

                    margin-bottom:6%;

                }

                &.meet-neighbors {

                    background-image: url('/assets/img/incentives/i-meet-neighbors.svg');
    
                }

                &.advantages {

                    background-image: url('/assets/img/incentives/i-advantages.svg');
    
                }

                &.share-moment {
                    
                    background-image: url('/assets/img/incentives/i-share-moment.svg');
    
                }

                &.try-games {

                    background-image: url('/assets/img/incentives/i-try-games.svg');
    
                }

                &.member-rewards {
                    
                    background-image: url('/assets/img/incentives/i-member-rewards.svg');
    
                }

                &.play-everywhere {
                    
                    background-image: url('/assets/img/incentives/i-play-everywhere.svg');
    
                }

            }

            h2 {

                font-size: rem(15px);
                line-height: 1.25;
                text-align: center;

                @media (max-width: $sm-breakpoint) {

                    font-size: rem(14px);
                    line-height: 1.15;

                }

                @media (max-width: $xs-breakpoint) {

                    font-size: rem(12px);

                }

            }
            
        }

    }

}
