@media screen and (max-height: 470px) {
    header {
        z-index: 10;
        height: calc(#{$smallHeightHomeHeaderHeight} - 1rem);
    }
}

@media screen and (max-height: 470px) {
    nav {
        top: 0.3125rem;
        position: absolute;
    }
}