@import '../../scss/mixins';
@import '../../scss/variables';

:host {

    width: 100%;

}

header {

    position: fixed;
    top: 0;
    z-index: 101;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: rem(40px); 

    &.open-nav {

        height: inherit;
        
    }

    .icon-nav-burger {

        font-size: rem(14px);
        color: $white;
        
        @include shadow('text', rgba(14, 11, 56,0.10), rgba(14, 11, 56,0.10));

        cursor: pointer;

    }

    transition: all 0.4s;

}

nav {
    &:not(.open-nav) > div:not(.icon-nav-burger) {
        display: none;
    }

    &.open-nav {
        :host {
            height: inherit;
        }

        position: relative;
        z-index: 2;
        width: 100%;
        padding-bottom: 35px;

        display: grid;
        grid: auto-flow / 1fr 1fr;
        box-shadow: 0px 3px 28px #1C0F20;

        background-color: #151515;
        color : white;

        @include interpolate(font-size, $xs-breakpoint, $xl-breakpoint, 13px, 15px);
        font-weight: 500;


        a {
            text-decoration: none;
            color: inherit;

            transition: all 0.3s;

            &:hover {
                cursor: pointer;
            }
        }

        .logo {

            img {

                position: absolute;
                bottom: -6rem;
                left: calc(50% - 6rem);
                width: 12rem;
                height: 12rem;

                @media (max-width: 360px) {

                    position: absolute;
                    bottom: -5rem;
                    left: calc(50% - 5rem);
                    width: 10rem;
                    height: 10rem;
            
                }    

            }
        }

        .main-nav {

            grid-column : 1 / span 2;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: rem(18px);
            font-weight: 300;

            padding: 2rem 0 2.5rem 0;

            a {
                display: flex;
                justify-content: center;
                align-items: center;

                height: rem(45px);
                width: 100%;
                font-size: rem(17px);
                font-weight: 400;

                margin: rem(5px 0);

                &:hover:not(.active) {
                    background-color: $accentColor;
                    color: white;
                }
    
                i {

                    font-size: rem(16px);

                    margin-top: rem(-2px);
                    margin-right: rem(10px);

                    &.icon-nav-home {

                        font-size: rem(15px);

                        margin-right: rem(8px);

                    }

                    &.icon-nav-incentives {

                        font-size: rem(15px);

                    }

                    &.icon-nav-board-game {

                        font-size: rem(18px);

                    }

                    &.icon-nav-events {

                        font-size: rem(17px);

                    }

                    &.icon-nav-search-game {

                        font-size: rem(18px);

                    }

                    &.icon-nav-friends {

                        font-size: rem(13.5px);

                    }

                }

                &.active:not(:hover) {
                    color: $accentColor;
                }

                &.active {

                    font-size: rem(19px);
                    font-weight: 600;
                    color: $accentColor;

                    i {
                        font-size: rem(18px);

                        font-weight: 700;

                        &.icon-nav-home {

                            font-size: rem(17px);
    
                            margin-right: rem(8px);
    
                        }
    
                        &.icon-nav-incentives {
    
                            font-size: rem(17px);
    
                        }
    
                        &.icon-nav-board-game {
    
                            font-size: rem(20px);
    
                        }
    
                        &.icon-nav-events {
    
                            font-size: rem(19px);
    
                        }
    
                        &.icon-nav-search-game {
    
                            font-size: rem(20px);
    
                        }
    
                        &.icon-nav-friends {
    
                            font-size: rem(15.5px);
    
                        }

                    }

                }

                @media (max-width: 360px) {

                    font-size: rem(16px);

                    &.active {

                    font-size: rem(17px);

                    }

                }

            }

        }

        .signup, .signin, .settings, .signout {

            height: 45px;
            bottom: 0px;
            position: absolute;
            width: 50vw;
            $logoWidth: rem(120px);

            &.signup, &.settings {
                left: 0;
                padding-right: $logoWidth / 2;
            }
            &.signin, &.signout {
                right: 0;
                padding-left: $logoWidth / 2;

            }

            text-transform: uppercase;
            color: #8A8A8A;
            font-size: rem(14.5px);
            font-weight: 500;

            display: flex;
            align-items: center;
            padding: 0;

            &:hover:not(.active) {
                background: $accentColor;
                color: white;
            }


            a {
                width: 100%;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                i {

                    font-size: rem(14px);

                    margin-right: rem(6px);

                }

            }

            
            @media (max-width: 360px) {

                font-size: rem(13.5px);
                
                &.signup, &.settings {
                    left: 0;
                    padding-right: 40px;
                }
                &.signin, &.signout {
                    right: 0;
                    padding-left: 40px;
    
                }
    
            }

        }

    }

}