$md-mcgpalette-blue: (
        50 : #e6e8fd,
        100 : #c2c7fb,
        200 : #99a1f9,
        300 : #707bf6,
        400 : #515ff4,
        500 : #3243f2,
        600 : #2d3df0,
        700 : #2634ee,
        800 : #1f2cec,
        900 : #131ee8,
        A100 : #ffffff,
        A200 : #e4e5ff,
        A400 : #b1b4ff,
        A700 : #979bff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-mcgpalette-pink: (
        50 : #fbe6ee,
        100 : #f5c0d4,
        200 : #ee97b7,
        300 : #e76d9a,
        400 : #e14d85,
        500 : #dc2e6f,
        600 : #d82967,
        700 : #d3235c,
        800 : #ce1d52,
        900 : #c51240,
        A100 : #fff4f6,
        A200 : #ffc1cf,
        A400 : #ff8ea7,
        A700 : #ff7493,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-mcgpalette-red: (
        50 : #fee8e7,
        100 : #fcc7c3,
        200 : #faa19b,
        300 : #f77b72,
        400 : #f65f54,
        500 : #f44336,
        600 : #f33d30,
        700 : #f13429,
        800 : #ef2c22,
        900 : #ec1e16,
        A100 : #ffffff,
        A200 : #ffe9e9,
        A400 : #ffb8b6,
        A700 : #ff9f9c,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-mcgpalette-purple: (
        50 : #f4e8f2,
        100 : #e5c6df,
        200 : #d3a0ca,
        300 : #c17ab5,
        400 : #b45ea5,
        500 : #a74195,
        600 : #9f3b8d,
        700 : #963282,
        800 : #8c2a78,
        900 : #7c1c67,
        A100 : #ffb7ee,
        A200 : #ff84e2,
        A400 : #ff51d6,
        A700 : #ff37d0,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);