<div class="message" [ngClass]="{
                'message-error': formFieldMessage?.type === 'error',
                'message-valid': formFieldMessage?.type === 'success'
            }">
  <i *ngIf="formFieldMessage?.type == 'error'" class="icon-input-error"></i>
  <i *ngIf="formFieldMessage?.type == 'success'" class="icon-input-valid"></i>
  <span *ngIf="formFieldControl.status === 'PENDING'">
      <mat-progress-spinner [diameter]="16" mode="indeterminate"></mat-progress-spinner>
  </span>
  <p>{{ formFieldMessage?.message }}</p>
</div>