<header class="hexa-pattern">
    <a class="btn-back-arrow" routerLink="/">
        <i class="icon-arrow-left2"></i>
    </a>
</header>
<main>
    <div class="title">
        <i class="icon-sign-up"></i>
        <h1>Inscription</h1>
    </div>
    <button mat-raised-button color="accent" class="btn btn-medium btn-sign-facebook" type="submit">
        <i class="icon-facebook"></i>
        Facebook
    </button>
    <button mat-raised-button color="accent" class="btn btn-medium btn-sign-google" type="submit">
        <i class="icon-google-plus"></i>
        Google
    </button>
    <div class="separat-or">
        <span>Ou</span>
    </div>
    <form (ngSubmit)="register(userForm)" [formGroup]="userForm">
        <div class="input input-username">
            <mat-form-field>
                <input matInput
                  placeholder="Nom d'utilisateur"
                  type="text"
                  name="username"
                  [ngClass]="{'error': usernameMessage?.type == 'error'}"
                  formControlName="username"
                  required
                />
            </mat-form-field>
            <app-form-field-message [formFieldMessage]="usernameMessage" [formFieldControl]="usernameCtrl"></app-form-field-message>
        </div>
        <div class="input input-email">
            <mat-form-field>
                <input matInput
                placeholder="Adresse email"
                type="email"
                name="email"
                [ngClass]="{'error': emailMessage?.type == 'error'}"
                formControlName="email"
                required>
            </mat-form-field>
            <app-form-field-message [formFieldMessage]="emailMessage" [formFieldControl]="emailCtrl"></app-form-field-message>
        </div>
        <div class="input input-password">
            <mat-form-field>
                <input matInput
                placeholder="Mot de passe"
                type="password"
                name="password"
                [ngClass]="{'error': passwordMessage?.type == 'error'}"
                formControlName="password"
                required>
            </mat-form-field>
            <app-form-field-message [formFieldMessage]="passwordMessage" [formFieldControl]="passwordCtrl"></app-form-field-message>
        </div>
        <button mat-raised-button color="accent" class="btn btn-hobbpink-gradient" type="submit">Inscription</button>
    </form>
</main>
<footer class="sign">
    <div class="sign-grey">
        <p>Vous avez déjà un compte ? <a routerLink="/connexion">Connexion</a></p>
    </div>
</footer>