@import '../../scss/mixins';
@import '../../scss/variables';

section.activities {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: $gradient-verylightgrey-reverse;

    height: 100vh;
    min-height: 680px;

    padding: rem(25px 0 80px 0);

    @media (min-width: $md-breakpoint) {

        height: 85vh;
        min-height: 750px;
        max-height: 1000px;

    }

    // @media (min-aspect-ratio: 3/3) and (max-width: 480px) {

    //     min-height: 700px;

    // }

    h1 {

        font-size: rem(34px);
        font-weight: 300;
        line-height: 1.2;

        @media (max-width: 570px) {

            font-size: rem(30px);

        }

    }

    main {

        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;

        .carrousel {

            flex: 1;

            display: flex;
            justify-content: center;

            width: 100%;
            max-width: 100vw;

            overflow: hidden;

            .wrapper {

                display: flex;
                align-items: center;

                height: 100%;

                transition: transform 0.7s;

                app-home-activity-card {

                    flex-shrink: 0;

                    width: 280px;
                    height: 80%;

                    margin: 8px;

                    @include shadow('xs', rgba(14, 11, 56,0.10), rgba(14, 11, 56,0.10));
                        
                    transition: all 0.5s;

                    // @media (min-width: $xs-breakpoint) {
    

                    // }
    
                    &.active {
        
                        width: 270px;

                        margin: 28px;

                        @include shadow('l', rgba(14, 11, 56,0.10), rgba(14, 11, 56,0.20));

                        transform: scale(1.15);

                        @media (max-width: $sm-breakpoint) {
                           
                            width: 240px;

                            margin: 24px;

                        }

                        @media (min-width: $sm-breakpoint) {
                           
                            width: 350px;

                            margin: 38px;

                        }

                        @media (min-width: $md-breakpoint) {
                           
                            width: 400px;

                            margin: 42px;

                        }
    
                        @media (min-width: $lg-breakpoint) {
                           
                            width: 500px;

                            margin: 48px;

                        }
    
                    }
    
                }
    
            }
    
        }

        .dot-carrousel {
    
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: rem(24px);

            margin: rem(18px 0 20px 0);


            .dot {

                content: "\e900";

                width: 7px;
                height: 7px;

                background-color: $grey;
                border-radius: 50%;

                margin: rem(5px);

                transition: all 0.3s;

                &.active {

                    width: 11px;
                    height: 11px;

                    background-color: $pink;

                }

                &:hover {

                    cursor: pointer;

                }


            }

            .arrow-prev {

                margin-right: rem(25px);
                min-width: rem(8px);

            }

            .arrow-next {

                margin-left: rem(25px);
                min-width: rem(8px);

            }    

        }

    }

}