@import 'mixins';
@import 'variables';

html {

    // min-width: $document-min-widht;
    
    font-family: 'Roboto', sans-serif, sans-serif;
    @include interpolate(font-size, $sm-breakpoint, $xl-breakpoint, 15px, 17px);
    font-weight: 400;
    line-height: 1.2;
    color: #2B2E2B;
    text-align: center;
        
    scroll-behavior: smooth;

    .hexa-pattern {

        width: 100%;
        height: rem(68px);

        background-image: url('/assets/img/pattern-hexa.svg');
        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .btn-back-arrow {

        position: absolute;
        top: rem(10px);
        left: rem(10px);

        display: flex;
        justify-content: center;
        align-items: center;

        width: rem(40px);
        height: rem(40px);

        border-radius: 50%;

        color: $darkgrey;

        background-color: $white;

        box-shadow: $shadow-xs;
        transition: all 0.3s;
      
        &:hover {

            width: rem(41px);
            height: rem(41px);

            color: $purple;

            box-shadow: $shadow-m;

        }

        i {

            font-size: rem(20px);

        }

    }    

    // .btn {

    //     display: flex;
    //     justify-content: center;
    //     align-items: center;

    //     width: 99%;
    //     border-radius: 2px;

    //     font-size: 15px;
    //     text-transform: uppercase;

    //     padding: 14px;

    //     @include shadow(xs, $shadow-color-intro, $shadow-color-intro);

    //     transition: all 0.3s;

    //     &:hover {

    //         width: 100%;

    //         @include shadow(m, $shadow-color-intro, $shadow-color-intro);

    //     }

    //     &.btn-medium {

    //         font-size: rem(13px);

    //         padding: rem(12px);
           
    //     }

    //     &.btn-white {

    //         font-weight: 700; 
    //         color: $black;

    //         background-color: $white;

    //         &:hover {

    //             background-color: $white-hover;

    //         }

    //     }

    //     &.btn-hobblue {

    //         font-weight: 500;
    //         color: $white;

    //         background-color: $blue;

    //         &:hover {

    //             background-color: $blue-hover;

    //         }
    //     }

    //     &.btn-hobbpink-gradient {
            
    //         font-weight: 500; 
    //         color: $white;

    //         background: $gradient-pink;

    //     }

    //     &.btn-sign-facebook {

    //         font-weight: 400;
    //         color: $white;

    //         background-color: $facebook-color;

    //         padding: rem(10px);

    //         i {

    //             font-size: rem(16px);

    //             margin-right: rem(8px);

    //         }

    //         &:hover {

    //             background-color: $facebook-color-hover;

    //         }
    //     }

    //     &.btn-sign-google {

    //         font-weight: 400; 
    //         color: $white;

    //         background-color: $google-color;

    //         padding: rem(10px);

    //         i {

    //             font-size: rem(22px);

    //             margin-right: rem(10px);

    //         }

    //         &:hover {

    //             background-color: $google-color-hover;

    //         }
    //     }

    // }

    // .sign {

    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: space-between;
        
    //     width: 100%;
    //     height: 14%;
    //     min-height: rem(82px);
    //     max-height: rem(92px);

    //     &.sign-white {

    //         color: $white;

    //         p {

    //             text-shadow: $shadow-text;

    //         }

    //     }

    //     &.sign-grey {
            
    //         font-weight: 400;
    //         color: $darkgrey;

    //     }

    //     p {

    //         font-size: 15px;
    //         font-weight: 300;
    //         line-height: 1.4;
    //         text-align: center;

            
    //         a {

    //             font-size: 15px;
    //             font-weight: 500;
    //             color: inherit;
    //             text-transform: uppercase;

    //             margin-left: rem(8px);

    //         }
                
    //     }

    // }

}

