@import 'mixins';
@import 'variables';

html {

    font-family: 'Roboto', sans-serif;

    body {

        width: 100vw;
        max-width:100%;

    }

    .icon-burgernav {

        height: 2.0625rem;
        width: 2.0625rem;

        background-image: url("/assets/img/intro/burgernav-white.svg");

    }

    .btn-back-arrow {

        display: flex;
        justify-content: center;
        align-items: center;

        width: rem(45px);
        height: rem(45px);

        border-radius: 50%;

        color: $darkgrey;
        text-decoration: none;

        background-color: $white;

        box-shadow: $shadow-xs;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      
        margin: rem(-12px 0 0 15px);

        &:hover {

            width: rem(46px);
            height: rem(46px);

            color: $purple;

            box-shadow: $shadow-m;

        }

        i {

            font-size: rem(20px);

        }

    }

    .btn {

        display: flex;
        justify-content: center;
        align-items: center;

        width: 99%;

        border-radius: rem(2px);

        font-size: 0.9em;
        line-height: rem(16px);
        text-transform: uppercase;
        text-decoration: none;

        padding: rem(16px);

        box-shadow: $shadow-xs;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);


        &:hover {

            width: 100%;

            box-shadow: $shadow-m;

        }


        &.btn-medium {

            font-size: rem(13px);

            padding: rem(12px);
           
        }

        &.btn-white {

            font-weight: 700; 
            color: $black;

            background-color: $white;

            &:hover {

                background-color: $white-hover;

            }

        }

        &.btn-hobblue {

            font-weight: 500;
            color: $white;

            background-color: $blue;

            &:hover {

                background-color: $blue-hover;

            }
        }

        &.btn-hobbpink-gradient {
            
            font-weight: 500; 
            color: $white;

            background: $gradient-pink;

        }

        &.btn-sign-facebook {

            font-weight: 400;
            color: $white;

            background-color: $facebook-color;

            padding: rem(10px);

            i {

                font-size: rem(16px);

                margin-right: rem(8px);

            }

            &:hover {

                background-color: $facebook-color-hover;

            }
        }

        &.btn-sign-google {

            font-weight: 400; 
            color: $white;

            background-color: $google-color;

            padding: rem(10px);

            i {

                font-size: rem(22px);

                margin-right: rem(10px);

            }

            &:hover {

                background-color: $google-color-hover;

            }
        }

    }

    footer.sign {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 19%;

        text-align: center;

        div {

            width: 82%;
            max-width: rem(400px);

            font-weight: 300;
            font-size: rem(14px);
            line-height: rem(21px);

            &.sign-white {

                color: $white;

            }

            &.sign-grey {

                font-weight: 400;
                color: $darkgrey;

            }

            p {

                padding: rem(22px 0);
                
                a {

                    font-size: rem(14px);
                    font-weight: 500;
                    color: inherit;
                    text-transform: uppercase;
    
                    margin-left: rem(10px);
    
                }    

            }
    
        }

    }

    .hexa-pattern {

        background-image: url("/assets/img/pattern-hexa.svg");
        background-position: left bottom;
        background-size: cover;
        background-repeat: no-repeat;

    }

}