@import 'mixins';

$xs-breakpoint: 321px;
$sm-breakpoint: 568px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;

$xs-breakpoint-height: 480px;
$sm-breakpoint-height: 530px;
$md-breakpoint-height: 600px;

$document-min-widht: $xs-breakpoint;

$white: white;
$white-hover: rgb(255, 255, 255);
$blue: #4455FF;
$blue-hover: #3243F2;
$pink: #DC2E6F;
$pink-hover: #EF528C;
$pinkurple: #C8357D;
$pinkurple-hover: #E64896;
$purple: #A74195;
$purple-hover: #BC43A7;
$verylightgrey: #F6F6F9;
$grey: #A4ACBE;
$darkgrey: #5F6D8A;
$red:#f44336;
$black:#151515;

$accentColor: $pink;

$facebook-color: #3A55AB;
$facebook-color-hover: #4868CE;
$google-color: #D44A39;
$google-color-hover: #E84D3A;

$accentColor: #dc2e6f;
$activeColorDamien: #DC4196;

$gradient-verylightgrey: linear-gradient(white 0%, $verylightgrey 30%);
$gradient-verylightgrey-reverse: linear-gradient($verylightgrey 70%, white 100%);
$gradient-pink-blue: linear-gradient(45deg, $blue 0%, $pink 100%);
$gradient-pink: linear-gradient(to right, $purple 0%, $pinkurple 35%, $pinkurple 70%,$purple 100%);


$shadow-xs: rem(0 1px 3px rgba(172, 172, 172,0.12), 0 1px 2px rgba(66, 66, 66,0.24));
$shadow-sm: rem(0 3px 6px rgba(172, 172, 172,0.16), 0 3px 6px rgba(66, 66, 66,0.23));
$shadow-m: rem(0 9px 20px rgba(172, 172, 172,0.25), 0 5px 6px rgba(66, 66, 66,0.23));
$shadow-l: rem(0 11px 28px rgba(172, 172, 172,0.35), 0 8px 10px rgba(66, 66, 66,0.22));
$shadow-xl: rem(0 16px 38px rgba(172, 172, 172,0.45), 0 12px 12px rgba(66, 66, 66, 0.22));
$shadow-input: rem(0 5px 30px rgba(14, 11, 56,0.10), 0 2px 15px rgba(14, 11, 56,0.10));
$shadow-input-focus: rem(0 5px 30px rgba(14, 11, 56,0.20), 0 2px 15px rgba(14, 11, 56,0.25));
$shadow-text: rem(0 2px 5px rgba(14, 11, 56,0.16), 0 2px 5px rgba(14, 11, 56,0.23));

