@import '../../scss/mixins';
@import '../../scss/variables';

.homepage section {
    &.intro, &.incentives, &.activities {
        min-height: 20em;
        min-width: 200px;
    }
}

a:hover {
    color: $accentColor;
}